/build.xml
/local.properties
/proguard-project.txt
/project.properties
/bin
/gen
/images/skydivingformations_icon_114x114.png
/images/skydivingformations_icon_36x36.png
/images/skydivingformations_icon_48x48.png
/images/skydivingformations_icon_72x72.png
/images/skydivingformations_icon_96x96.png
/images/skydivingformationslite_icon_114x114.png
/images/skydivingformationslite_icon_36x36.png
/images/skydivingformationslite_icon_48x48.png
/images/skydivingformationslite_icon_72x72.png
/images/skydivingformationslite_icon_96x96.png
